
.navbar {
    background-color: rgb(255, 255, 255);
}

.quem-somos{
    background-color: rgba(69, 99, 117, 0.315);
    color:white;
}

.margin{
      padding-bottom: 20px;
      padding-top:10px
}

h3{
    color:rgb(0, 0, 0);
}

.parceiros{
    background-color: rgb(255, 255, 255);
}

.bg-footer{
    background-color: rgb(255, 255, 255);
    color:white;
}

